.body {
    display: grid;
    column-gap: 45px;
    grid-template-columns: repeat(8, 1fr);
    margin: 95px 100px 0px 100px;
    row-gap: 90px;
    grid-template-areas: ".  time time score score best best ."
        "flag flag flag flag flag flag flag flag";
    font-size: 45px;
    text-align: center;


}

.time {
    grid-area: time;
    font-size: inherit;
}

.score {
    grid-area: score;
    font-size: 45px;
}

.bestScore {
    grid-area: best;
    font-size: 45px;

}

.flags {
    grid-area: flag;
}

@media screen and (max-width : 620px) {

    .body {
        column-gap: 8px;
        margin: 35px 8px 0 8px;
        font-size: 12px;
        row-gap: 43px;
    }

    .score,
    .bestScore {
        font-size: inherit;
    }
}