.image img {
    max-width: 290px;
    max-height: 212px;
}

.image:hover {
    cursor: pointer;
}

@media screen and (max-width : 620px) {

    .image img {
        max-width: 109px;
        max-height: 86px;
    }
}